ul li{
    list-style-type:none;
}

#flow-step a{
    text-decoration: none;
    background-color: #fff;
    box-shadow: none !important;
    display: block;
}
#flow-step .stepNum{
    display: inline-block !important;
    font-size: 16px;    
    font-weight: 300;
    padding: 12px 15px !important;
    margin-right: 10px;
    border-radius: 50% !important;
    color: #555;
    background-color: #999;
}
.stepNum.two{
    margin-left: 6px;
}
#flow-step .desc{
    margin-top: 10px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    border-radius: 0 !important;
    color: #888;
}
#flow-step .step .sel{
    background-color: #35aa47;
    color: #fff;
}
.only_read{
    width:55%;background:#CCC;border:none;
}
.full_width{
    width: 50% !important;
}